<section class="row">
  <article class="column">
    <h2>Simulations</h2>
    <ul>
      <%= for simulation <- @simulations do %>
        <li>
          <a href="/simulations/<%= simulation.simulation_id %>"><%= simulation.simulation_id %></a>
        </li>
      <% end %>
    </ul>
  </article>
</section>
